@page "/"

@using Radzen.Blazor

<div class="container">
    @*<div class="row">
            @foreach (string s in list)
            {
                <div class="col-lg-3"><span class="oi @s" aria-hidden="true"></span> @s</div>
            }
        </div>*@
    <h3 class="col-12 text-success text-center py-2">
        <strong>Heizungssteuerung</strong>
    </h3>
    <div class="card">
        <h5 class="card-header">Warmwasser</h5>
        <div class="card-body">
            <h5 class="card-title">Sensor/Aktor-Test</h5>
            <div>
                <div class="flex-container">
                    <div><input type="text" readonly class="form-control-plaintext measurement-label" value="HttpValue:"></div>
                    <div><input type="text" readonly class="form-control-plaintext measurement-text" value=@HttpValue.ToString()></div>
                    <div class="oi @HttpTrendIcon trendicon" aria-hidden="true"></div>
                    <div><input type="text" readonly class="form-control-plaintext" value=@HttpTrend.ToString("0.##")></div>
                </div>
                <div class="flex-container">
                    <div><input type="text" readonly class="form-control-plaintext measurement-label" value="NtcValue:"></div>
                    <div><input type="text" readonly class="form-control-plaintext measurement-text" value=@NtcValue.ToString()></div>
                    <div class="oi @NtcTrendIcon trendicon" aria-hidden="true"></div>
                    <div><input type="text" readonly class="form-control-plaintext" value=@NtcTrend.ToString("0.##")></div>
                </div>
                <div class="flex-container">
                    <div><input type="text" readonly class="form-control-plaintext measurement-label" value="OneWireValue:"></div>
                    <div><input type="text" readonly class="form-control-plaintext measurement-text" value=@OneWireValue.ToString()></div>
                    <div class="oi @OneWireTrendIcon trendicon" aria-hidden="true"></div>
                    <div><input type="text" readonly class="form-control-plaintext" value=@OneWireTrend.ToString("0.##")></div>
                </div>
                <div class="flex-container">
                    <div><input type="text" readonly class="form-control-plaintext switch-label" value="Switch:"></div>
                    <div><RadzenSwitch @bind-Value=@SwitchIsOn Disabled="@ButtonSwitchDisabled" class="switch-symbol" /></div>
                </div>
                <div class="flex-container">
                    <RadzenButton style="margin: 0 1rem 1rem 0" class="col-md-2 justify-content-end" Click="@ResetEsp" Text="Reset Esp" ButtonStyle="ButtonStyle.Secondary" />
                </div>

            </div>
        </div>
    </div>
</div>

